<app-navbar></app-navbar>
<section class="about-section" [@fadeInUp]>
  <div class="container">
    <h1 class="section-title">About Me</h1>
    
    <div class="about-content">
      <div class="about-text">
        <h2>Full Stack Developer with Passion for Innovation</h2>
        <p>
          {{passage1}}
        </p>
        <p>
          {{passage2}}
        </p>
        <p>
         {{passage3}}
        </p>
        
        <div class="highlights">
          <div class="highlight-item">
            <h3>1+</h3>
            <p>Years Experience</p>
          </div>
          <div class="highlight-item">
            <h3>5+</h3>
            <p>Projects Completed</p>
          </div>
          <div class="highlight-item">
            <h3>5+</h3>
            <p>Technologies Studied</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
