<div class="project-card">
  <div class="project-content">
    <h3 class="project-title">{{ project.title }}</h3>
    <p class="project-description">{{ project.description }}</p>
    
    <div class="technologies">
      <span class="tech-tag" *ngFor="let tech of project.technologies">{{ tech }}</span>
    </div>
    
    <div class="project-links">
      <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" class="btn-link">
        GitHub
      </a>
      <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank" class="btn-link">
        Live Demo
      </a>
    </div>
  </div>
</div>